<style>
  .form-group {
    display: flex;
  }
  label {
    padding-right: 20px;
    width: 200px;
    flex-shrink: 0;
  }
  .tag-editor {
    flex-grow: 1;
  }
</style>
<div id="outer">
  <form ng-submit="submit()" id="myform">
    <div class="form-group">
      <label for="text">Query (text)</label>

      <input
        id="text"
        type="text"
        ng-change="change()"
        ng-model="text"
        class="form-control big-form"
        placeholder="London, UK"
      />
    </div>

    <div class="form-group">
      <label for="focus">Focus</label>
      <input
        type="text"
        ng-change="change()"
        ng-model="focus"
        class="form-control big-form"
        placeholder="40.74,-74"
        id="focus"
        class="form-control"
      />
      <button type="button" ng-click="openFocusModal()">
        <i class="fas fa-map"></i>
      </button>
    </div>

    <div class="form-group">
      <label for="autocomplete">Autocomplete</label>

      <input id="autocomplete" type="checkbox" ng-change="change()" ng-model="autocomplete" />
    </div>

    <div class="form-group">
      <label for="endpoints">Hosts</label>

      <textarea id="endpoints" />
    </div>

    <div class="form-group">
      <label for="path">Query Path</label>
      {{path}}
    </div>

    <input type="submit" />
    <!-- Ugh, html5 geoloc only works in https -->
    <!-- <button type="button" ng-click="currentLocation()">Current Location</button> -->
  </form>

  <div ng-repeat="(i, endpoint) in endpoints">
    <ng-include src="'view-column.html'" />
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="focusModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select focus point</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" ng-controller="FocusMapController">
          <leaflet id="focusMap" width="100%" height="200px" defaults="defaults"></leaflet>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
